.character {
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.character--box {
    position: relative;
    cursor: pointer;

    max-height: 100%;
    aspect-ratio: 468 / 861;

    transition: filter linear 100ms;
}

.character--box__background,
.character--box__image,
.character--box__front,
.character--box__name {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.character--box img {
    width: 100%;
    height: 100%;
}

.character--box__background {
    z-index: 700;
}

.character--box__image {
    z-index: 800;

    /* top: (78 / 861) * 100; */
    top: 9.059233449477352%;
    /* right: (32 / 468) * 100; */
    right: 6.837606837606838%;
    /* bottom: (192 / 861) * 100; */
    bottom: 22.299651567944252%;
    /* left: (38 / 468) * 100; */
    left: 8.11965811965812%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.character--box__image img {
    height: auto;

    position: absolute;
    bottom: 0;
}

.character--box__front {
    z-index: 900;
}

.character--box__name {
    z-index: 1000;

    /* top: (560 / 861) * 100; */
    top: 65.04065040650406%;
    /* right: ((468 - 417) / 468) * 100; */
    right: 10.897435897435898%;
    /* bottom: ((861 - 622) / 861) * 100; */
    bottom: 27.75842044134727%;
    /* left: (57 / 468) * 100; */
    left: 12.179487179487179%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #E0E300;

    transform: rotate(-3deg);
}
