
@font-face {
    font-family: "Futura PT";
    src: url(assets/FuturaPT-Bold.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Futura PT";
    src: url(assets/FuturaPT-MediumObl.woff2) format("woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Futura PT";
    src: url(assets/FuturaPT-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Futura PT Book";
    src: url(assets/FuturaPT-Book.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Futura PT Demi";
    src: url(assets/FuturaPT-Demi.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Futura PT Demi";
    src: url(assets/FuturaPT-DemiObl.woff2) format("woff2");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Futura PT";
    src: url(assets/FuturaPT-BoldObl.woff2) format("woff2");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Permanent Marker";
    src: url(assets/PermanentMarker-Regular.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

html,
body,
#app {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Permanent Marker";
    color: #ffffff;
    background-color: #1156FC;
}

body.modal--open {
    overflow: hidden;
}

#app {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 54px;
}

button {
    width: 300px;
    background-color: #9146FF;
    padding: 8px;
    color: #ffffff;
    font-size: 16px;
    font-family: "Futura PT";
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    font-weight: 600;
    text-transform: uppercase;
    margin: 16px;
}

button:disabled {
    background-color: rgba(255, 255, 255, 0.15);
}

a {
    text-decoration: none;
}

.spacer {
    flex: 1 1 auto;
}

.character {
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.character--box {
    position: relative;
    cursor: pointer;

    max-height: 100%;
    aspect-ratio: 468 / 861;
}

.character--box__background,
.character--box__image,
.character--box__front,
.character--box__name {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.character--box img {
    width: 100%;
    height: 100%;
}

.character--box__background {
    z-index: 700;
}

.character--box__image {
    z-index: 800;

    /* top: (78 / 861) * 100; */
    top: 9.059233449477352%;
    /* right: (32 / 468) * 100; */
    right: 6.837606837606838%;
    /* bottom: (192 / 861) * 100; */
    bottom: 22.299651567944252%;
    /* left: (38 / 468) * 100; */
    left: 8.11965811965812%;
}

.character--box__image img {
    height: auto;

    position: absolute;
    bottom: 0;
}

.character--box__front {
    z-index: 900;
}

.character--box__name {
    z-index: 1000;

    /* top: (550 / 861) * 100; */
    top: 63.879210220673635%;
    /* right: ((468 - 417) / 468) * 100; */
    right: 10.897435897435898%;
    /* bottom: ((861 - 622) / 861) * 100; */
    bottom: 27.75842044134727%;
    /* left: (57 / 468) * 100; */
    left: 12.179487179487179%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #E0E300;

    transform: rotate(-3deg);
}

.plateau {
    max-height: 100%;
    position: relative;
    aspect-ratio: 2400 / 1840;
}

.plateau > img {
    width: 100%;
    height: 100%;
}

.plateau--row {
    position: absolute;
    overflow: hidden;
}

.choosecharacter {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1000;
    display: flex;
}

.choosecharacter--modal {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    margin: 64px;
    overflow: hidden;

    border-radius: 6px;
    border: 20px solid #ffffff;
    box-shadow: inset 0 0 10px #000000, 0 0 10px #000000;

    background-image: url(assets/plateau-background.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    color: #1156FC;
}

.choosecharacter--modal__title {
    font-size: 32px;
    text-align: center;
    margin: 16px;
}

.choosecharacter--modal__container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}

.choosecharacter--list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 32px 16px;
    margin: 0;
    flex: 1 1 auto;
    position: absolute;
    top: 0;
    left: 32px;
    right: 32px;
    bottom: 32px;
}

.choosecharacter--list__character {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.loadassets {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


.scene {
    flex: 1 1 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 32px 64px;
    padding: 32px;

    background-image: url(assets/plateau-background.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 6px;
    border: 20px solid #ffffff;
    box-shadow: inset 0 0 10px #000000, 0 0 10px #000000;
}

.scene--bottom {
    display: flex;
}

.scene--opponent {
    margin: 0 32px;
}

.scene--opponent,
.scene--opponent .character {
    width: 157px;
    height: 293px;
}

.scene--guessing .character--box:hover {
    box-shadow: 0 0 15px #ffffff;
}

.logout {
    position: fixed;
    top: 0;
    right: 0;
}

