
@font-face {
    font-family: "Futura PT";
    src: url(assets/FuturaPT-Bold.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Futura PT";
    src: url(assets/FuturaPT-MediumObl.woff2) format("woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Futura PT";
    src: url(assets/FuturaPT-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Futura PT Book";
    src: url(assets/FuturaPT-Book.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Futura PT Demi";
    src: url(assets/FuturaPT-Demi.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Futura PT Demi";
    src: url(assets/FuturaPT-DemiObl.woff2) format("woff2");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Futura PT";
    src: url(assets/FuturaPT-BoldObl.woff2) format("woff2");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Sweaty Belvin";
    src: url(assets/SweatyBelvin.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

html,
body,
#app {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Sweaty Belvin";
    color: #ffffff;
    background-color: #1156FC;
    user-select: none;
}

body.modal--open {
    overflow: hidden;
}

#app {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 54px;
}

button {
    padding: 8px;
    width: 300px;
    margin: 16px;

    color: #ffffff;

    border: 4px solid #E0E300;
    background-color: #1156FC;
    border-radius: 4px;

    font-size: 16px;
    font-family: "Futura PT";
    text-transform: uppercase;
    font-weight: 600;

    cursor: pointer;

    transition: all linear 100ms;
}

button:hover {
    box-shadow: 0 0 15px #E0E300;
}

button:disabled {
    background-color: rgba(255, 255, 255, 0.15);
}

a {
    text-decoration: none;
}

.spacer {
    flex: 1 1 auto;
}

@keyframes colorTransition {
    0% { background: linear-gradient(200deg, #1156FC 35%, hsl(169, 100%, 50%) 100%); }
    1% { background: linear-gradient(200deg, #1156FC 35%, hsl(171, 100%, 50%) 100%); }
    2% { background: linear-gradient(200deg, #1156FC 35%, hsl(174, 100%, 50%) 100%); }
    3% { background: linear-gradient(200deg, #1156FC 35%, hsl(176, 100%, 50%) 100%); }
    4% { background: linear-gradient(200deg, #1156FC 35%, hsl(179, 100%, 50%) 100%); }
    5% { background: linear-gradient(200deg, #1156FC 35%, hsl(181, 100%, 50%) 100%); }
    6% { background: linear-gradient(200deg, #1156FC 35%, hsl(184, 100%, 50%) 100%); }
    7% { background: linear-gradient(200deg, #1156FC 35%, hsl(186, 100%, 50%) 100%); }
    8% { background: linear-gradient(200deg, #1156FC 35%, hsl(189, 100%, 50%) 100%); }
    9% { background: linear-gradient(200deg, #1156FC 35%, hsl(191, 100%, 50%) 100%); }
    10% { background: linear-gradient(200deg, #1156FC 35%, hsl(193, 100%, 50%) 100%); }
    11% { background: linear-gradient(200deg, #1156FC 35%, hsl(196, 100%, 50%) 100%); }
    12% { background: linear-gradient(200deg, #1156FC 35%, hsl(198, 100%, 50%) 100%); }
    13% { background: linear-gradient(200deg, #1156FC 35%, hsl(201, 100%, 50%) 100%); }
    14% { background: linear-gradient(200deg, #1156FC 35%, hsl(203, 100%, 50%) 100%); }
    15% { background: linear-gradient(200deg, #1156FC 35%, hsl(206, 100%, 50%) 100%); }
    16% { background: linear-gradient(200deg, #1156FC 35%, hsl(208, 100%, 50%) 100%); }
    17% { background: linear-gradient(200deg, #1156FC 35%, hsl(210, 100%, 50%) 100%); }
    18% { background: linear-gradient(200deg, #1156FC 35%, hsl(213, 100%, 50%) 100%); }
    19% { background: linear-gradient(200deg, #1156FC 35%, hsl(215, 100%, 50%) 100%); }
    20% { background: linear-gradient(200deg, #1156FC 35%, hsl(218, 100%, 50%) 100%); }
    21% { background: linear-gradient(200deg, #1156FC 35%, hsl(220, 100%, 50%) 100%); }
    22% { background: linear-gradient(200deg, #1156FC 35%, hsl(223, 100%, 50%) 100%); }
    23% { background: linear-gradient(200deg, #1156FC 35%, hsl(225, 100%, 50%) 100%); }
    24% { background: linear-gradient(200deg, #1156FC 35%, hsl(228, 100%, 50%) 100%); }
    25% { background: linear-gradient(200deg, #1156FC 35%, hsl(230, 100%, 50%) 100%); }
    26% { background: linear-gradient(200deg, #1156FC 35%, hsl(232, 100%, 50%) 100%); }
    27% { background: linear-gradient(200deg, #1156FC 35%, hsl(235, 100%, 50%) 100%); }
    28% { background: linear-gradient(200deg, #1156FC 35%, hsl(237, 100%, 50%) 100%); }
    29% { background: linear-gradient(200deg, #1156FC 35%, hsl(240, 100%, 50%) 100%); }
    30% { background: linear-gradient(200deg, #1156FC 35%, hsl(242, 100%, 50%) 100%); }
    31% { background: linear-gradient(200deg, #1156FC 35%, hsl(245, 100%, 50%) 100%); }
    32% { background: linear-gradient(200deg, #1156FC 35%, hsl(247, 100%, 50%) 100%); }
    33% { background: linear-gradient(200deg, #1156FC 35%, hsl(250, 100%, 50%) 100%); }
    34% { background: linear-gradient(200deg, #1156FC 35%, hsl(252, 100%, 50%) 100%); }
    35% { background: linear-gradient(200deg, #1156FC 35%, hsl(254, 100%, 50%) 100%); }
    36% { background: linear-gradient(200deg, #1156FC 35%, hsl(257, 100%, 50%) 100%); }
    37% { background: linear-gradient(200deg, #1156FC 35%, hsl(259, 100%, 50%) 100%); }
    38% { background: linear-gradient(200deg, #1156FC 35%, hsl(262, 100%, 50%) 100%); }
    39% { background: linear-gradient(200deg, #1156FC 35%, hsl(264, 100%, 50%) 100%); }
    40% { background: linear-gradient(200deg, #1156FC 35%, hsl(267, 100%, 50%) 100%); }
    41% { background: linear-gradient(200deg, #1156FC 35%, hsl(269, 100%, 50%) 100%); }
    42% { background: linear-gradient(200deg, #1156FC 35%, hsl(271, 100%, 50%) 100%); }
    43% { background: linear-gradient(200deg, #1156FC 35%, hsl(274, 100%, 50%) 100%); }
    44% { background: linear-gradient(200deg, #1156FC 35%, hsl(276, 100%, 50%) 100%); }
    45% { background: linear-gradient(200deg, #1156FC 35%, hsl(279, 100%, 50%) 100%); }
    46% { background: linear-gradient(200deg, #1156FC 35%, hsl(281, 100%, 50%) 100%); }
    47% { background: linear-gradient(200deg, #1156FC 35%, hsl(284, 100%, 50%) 100%); }
    48% { background: linear-gradient(200deg, #1156FC 35%, hsl(286, 100%, 50%) 100%); }
    49% { background: linear-gradient(200deg, #1156FC 35%, hsl(289, 100%, 50%) 100%); }
    50% { background: linear-gradient(200deg, #1156FC 35%, hsl(291, 100%, 50%) 100%); }
    51% { background: linear-gradient(200deg, #1156FC 35%, hsl(293, 100%, 50%) 100%); }
    52% { background: linear-gradient(200deg, #1156FC 35%, hsl(296, 100%, 50%) 100%); }
    53% { background: linear-gradient(200deg, #1156FC 35%, hsl(298, 100%, 50%) 100%); }
    54% { background: linear-gradient(200deg, #1156FC 35%, hsl(301, 100%, 50%) 100%); }
    55% { background: linear-gradient(200deg, #1156FC 35%, hsl(303, 100%, 50%) 100%); }
    56% { background: linear-gradient(200deg, #1156FC 35%, hsl(306, 100%, 50%) 100%); }
    57% { background: linear-gradient(200deg, #1156FC 35%, hsl(308, 100%, 50%) 100%); }
    58% { background: linear-gradient(200deg, #1156FC 35%, hsl(311, 100%, 50%) 100%); }
    59% { background: linear-gradient(200deg, #1156FC 35%, hsl(313, 100%, 50%) 100%); }
    60% { background: linear-gradient(200deg, #1156FC 35%, hsl(315, 100%, 50%) 100%); }
    61% { background: linear-gradient(200deg, #1156FC 35%, hsl(318, 100%, 50%) 100%); }
    62% { background: linear-gradient(200deg, #1156FC 35%, hsl(320, 100%, 50%) 100%); }
    63% { background: linear-gradient(200deg, #1156FC 35%, hsl(323, 100%, 50%) 100%); }
    64% { background: linear-gradient(200deg, #1156FC 35%, hsl(325, 100%, 50%) 100%); }
    65% { background: linear-gradient(200deg, #1156FC 35%, hsl(328, 100%, 50%) 100%); }
    66% { background: linear-gradient(200deg, #1156FC 35%, hsl(330, 100%, 50%) 100%); }
    67% { background: linear-gradient(200deg, #1156FC 35%, hsl(332, 100%, 50%) 100%); }
    68% { background: linear-gradient(200deg, #1156FC 35%, hsl(335, 100%, 50%) 100%); }
    69% { background: linear-gradient(200deg, #1156FC 35%, hsl(337, 100%, 50%) 100%); }
    70% { background: linear-gradient(200deg, #1156FC 35%, hsl(340, 100%, 50%) 100%); }
    71% { background: linear-gradient(200deg, #1156FC 35%, hsl(342, 100%, 50%) 100%); }
    72% { background: linear-gradient(200deg, #1156FC 35%, hsl(345, 100%, 50%) 100%); }
    73% { background: linear-gradient(200deg, #1156FC 35%, hsl(347, 100%, 50%) 100%); }
    74% { background: linear-gradient(200deg, #1156FC 35%, hsl(350, 100%, 50%) 100%); }
    75% { background: linear-gradient(200deg, #1156FC 35%, hsl(352, 100%, 50%) 100%); }
    76% { background: linear-gradient(200deg, #1156FC 35%, hsl(354, 100%, 50%) 100%); }
    77% { background: linear-gradient(200deg, #1156FC 35%, hsl(357, 100%, 50%) 100%); }
    78% { background: linear-gradient(200deg, #1156FC 35%, hsl(359, 100%, 50%) 100%); }
    79% { background: linear-gradient(200deg, #1156FC 35%, hsl(2, 100%, 50%) 100%); }
    80% { background: linear-gradient(200deg, #1156FC 35%, hsl(4, 100%, 50%) 100%); }
    81% { background: linear-gradient(200deg, #1156FC 35%, hsl(7, 100%, 50%) 100%); }
    82% { background: linear-gradient(200deg, #1156FC 35%, hsl(9, 100%, 50%) 100%); }
    83% { background: linear-gradient(200deg, #1156FC 35%, hsl(12, 100%, 50%) 100%); }
    84% { background: linear-gradient(200deg, #1156FC 35%, hsl(14, 100%, 50%) 100%); }
    85% { background: linear-gradient(200deg, #1156FC 35%, hsl(16, 100%, 50%) 100%); }
    86% { background: linear-gradient(200deg, #1156FC 35%, hsl(19, 100%, 50%) 100%); }
    87% { background: linear-gradient(200deg, #1156FC 35%, hsl(21, 100%, 50%) 100%); }
    88% { background: linear-gradient(200deg, #1156FC 35%, hsl(24, 100%, 50%) 100%); }
    89% { background: linear-gradient(200deg, #1156FC 35%, hsl(26, 100%, 50%) 100%); }
    90% { background: linear-gradient(200deg, #1156FC 35%, hsl(29, 100%, 50%) 100%); }
    91% { background: linear-gradient(200deg, #1156FC 35%, hsl(31, 100%, 50%) 100%); }
    92% { background: linear-gradient(200deg, #1156FC 35%, hsl(33, 100%, 50%) 100%); }
    93% { background: linear-gradient(200deg, #1156FC 35%, hsl(36, 100%, 50%) 100%); }
    94% { background: linear-gradient(200deg, #1156FC 35%, hsl(38, 100%, 50%) 100%); }
    95% { background: linear-gradient(200deg, #1156FC 35%, hsl(41, 100%, 50%) 100%); }
    96% { background: linear-gradient(200deg, #1156FC 35%, hsl(43, 100%, 50%) 100%); }
    97% { background: linear-gradient(200deg, #1156FC 35%, hsl(46, 100%, 50%) 100%); }
    98% { background: linear-gradient(200deg, #1156FC 35%, hsl(48, 100%, 50%) 100%); }
    99% { background: linear-gradient(200deg, #1156FC 35%, hsl(51, 100%, 50%) 100%); }
    100% { background: linear-gradient(200deg, #1156FC 35%, hsl(53, 100%, 50%) 100%); }
}

.finished {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
    background: linear-gradient(200deg, #1156FC 35%, hsl(169, 100%, 50%) 100%);
    animation: colorTransition 5s alternate infinite;
}

.loadassets {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.categories {
    display: flex;
    flex-direction: column;

    position: absolute;
    bottom: 16px;
    padding: 24px 32px;

    background-color: #000000;
    border-radius: 8px;
}

.categories--title {
    font-size: 48px;
    margin-bottom: 8px;
    cursor: pointer;
}

.categories--container {
    display: flex;
    flex-direction: column;

    padding-left: 16px;
    border-radius: 8px;

    font-family: "Futura PT";
    font-size: 20px;
}

.categorie {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.categorie--label {
    flex: 1 1 auto;
    cursor: pointer;
}

.categorie--checkbox:not(:checked) + .categorie--label {
    text-decoration: line-through;
    color: #ffffff;
    text-decoration-thickness: 2px;
}

.categorie--checkbox:checked + .categorie--label:hover {
    color: #E0E300;
}

.lobby {
    flex: 1 1 auto;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 68px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);

    background: linear-gradient(200deg, #1156FC 35%, hsl(169, 100%, 50%) 100%);
    animation: colorTransition 5s alternate infinite;
}

.lobby--room-id {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    margin: 16px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.lobby--room-id__value {
    font-family: "Futura PT";
    font-size: 20px;
}

.lobby--new-room {
    margin: 8px 0 0 0;
    width: auto;
}

.lobby--start {
    font-size: 32px;
    width: 500px;
}

.lobby--toomanyplayers {
    font-size: 32px;
}

.lobby--versus {
    position: fixed;
    top: 64px;
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr auto 1fr;
}

.lobby--versus img {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    border: 4px solid #E0E300;
}

.lobby--versus > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lobby--versus__me,
.lobby--versus__opponent {
    font-size: 32px;
}

.login {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(200deg, #1156FC 35%, hsl(169, 100%, 50%) 100%);
    animation: colorTransition 5s alternate infinite;
}

.login--container {
    background-color: #000000;
    border-radius: 8px;
    padding: 16px 24px;
}

.login--container__title {
    width: 100%;
    text-align: center;
    position: relative;
    font-size: 32px;
    margin: 16px 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login--container__logo {
    width: 40px;
    margin-right: 16px;
}

.textfit {
    position: fixed;
    top: -1000px;
    left: -1000px;
}

.character {
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.character--box {
    position: relative;
    cursor: pointer;

    max-height: 100%;
    aspect-ratio: 468 / 861;

    transition: filter linear 100ms;
}

.character--box__background,
.character--box__image,
.character--box__front,
.character--box__name {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.character--box img {
    width: 100%;
    height: 100%;
}

.character--box__background {
    z-index: 700;
}

.character--box__image {
    z-index: 800;

    /* top: (78 / 861) * 100; */
    top: 9.059233449477352%;
    /* right: (32 / 468) * 100; */
    right: 6.837606837606838%;
    /* bottom: (192 / 861) * 100; */
    bottom: 22.299651567944252%;
    /* left: (38 / 468) * 100; */
    left: 8.11965811965812%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.character--box__image img {
    height: auto;

    position: absolute;
    bottom: 0;
}

.character--box__front {
    z-index: 900;
}

.character--box__name {
    z-index: 1000;

    /* top: (560 / 861) * 100; */
    top: 65.04065040650406%;
    /* right: ((468 - 417) / 468) * 100; */
    right: 10.897435897435898%;
    /* bottom: ((861 - 622) / 861) * 100; */
    bottom: 27.75842044134727%;
    /* left: (57 / 468) * 100; */
    left: 12.179487179487179%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #E0E300;

    transform: rotate(-3deg);
}

.plateau {
    max-height: 100%;
    position: relative;
    aspect-ratio: 2400 / 1840;
}

.plateau > img {
    width: 100%;
    height: 100%;
}

.plateau--row {
    position: absolute;
    overflow: hidden;
}

.choosecharacter {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1000;
    display: flex;
}

.choosecharacter--modal {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    margin: 64px;
    overflow: hidden;

    border-radius: 6px;
    border: 20px solid #ffffff;
    box-shadow: inset 0 0 10px #000000, 0 0 10px #000000;

    background-image: url(assets/plateau-background.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    color: #1156FC;
}

.choosecharacter--modal__title {
    font-size: 48px;
    text-align: center;
    margin: 16px 0 0 0;
}

.choosecharacter--modal__container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}

.choosecharacter--list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 32px 16px;
    margin: 0;
    flex: 1 1 auto;
    position: absolute;
    top: 0;
    left: 32px;
    right: 32px;
    bottom: 32px;
}

.choosecharacter--list__character {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.choosecharacter--modal__container .character--box:hover {
    box-shadow: 0 0 16px #ffffff;
}

.scene {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    flex: 1 1 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 32px;

    background-image: url(assets/plateau-background.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 6px;
    border: 20px solid #ffffff;
    box-shadow: inset 0 0 10px #000000, 0 0 10px #000000;
}

.scene--plateau {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.scene--guessing__button {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 92px;
    width: 92px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, .85);
    border-width: 4px;

    font-size: 56px;

    transition: background-color linear 100ms, box-shadow linear 200ms;
}

.scene--guessing__button:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, .25);
}

.scene--opponent {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 16px;
    height: 400px;
    width: 256px;

    overflow: hidden;

    background-color: #1156FC;

    border-radius: 0 6px 0 0;
    border: 20px solid #ffffff;
    box-shadow: inset 0 0 10px #000000, 0 0 10px #000000;
    border-left: 0;
    border-bottom: 0;
}

.scene--opponent__info {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    margin-right: 16px;

    overflow: hidden;

    font-size: 36px;
    text-shadow: 0 0 5px #000000;
}

.scene--opponent__name {
    color: #F7115E;
    font-size: 56px;

    text-align: left;

    word-break: break-all;
    white-space: pre;
    overflow: hidden;
}

.scene--opponent__character {
    width: 157px;
    flex-shrink: 0;
}

.scene--opponent__character .character--box {
    cursor: default;
}

.scene--characterguessed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9000;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.scene--characterguessed__content {
    background-color: rgba(0, 0, 0, .85);
    border-radius: 0 0 8px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 16px;

    font-family: "Futura PT";
    font-size: 32px;
    font-weight: 600;
}

.scene--characterguessed__name {
    font-family: "Sweaty Belvin";
    font-weight: 500;
    font-size: 38px;
}

.scene--characterguessed__content button {
    margin: 0;
    margin-top: 16px;
}

.scene--guessing .character--box:not(.character--box__hiden):hover {
    box-shadow: 0 0 15px #ffffff;
}

.scene--guessing .character--box:not(:hover) {
    filter: brightness(0.6);
}

.scene--guessing .character--box.character--box__hiden {
    filter: brightness(0.6);
}

.scene--guessing .scene--guessing__button {
    background-color: #000000;
}

.scene--guessing .scene--guessing__button svg {
    fill: #E0E300;
}

.app--loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 64px;
}

.error {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 64px;

    animation: colorErrorTransition 5s alternate infinite;
}

@keyframes colorErrorTransition {
    0% { background: linear-gradient(200deg, #ff0000 5%, hsl(296, 100%, 50%) 100%); }
    2% { background: linear-gradient(200deg, #ff0000 5%, hsl(298, 100%, 50%) 100%); }
    4% { background: linear-gradient(200deg, #ff0000 5%, hsl(301, 100%, 50%) 100%); }
    6% { background: linear-gradient(200deg, #ff0000 5%, hsl(303, 100%, 50%) 100%); }
    8% { background: linear-gradient(200deg, #ff0000 5%, hsl(306, 100%, 50%) 100%); }
    10% { background: linear-gradient(200deg, #ff0000 5%, hsl(308, 100%, 50%) 100%); }
    12% { background: linear-gradient(200deg, #ff0000 5%, hsl(311, 100%, 50%) 100%); }
    14% { background: linear-gradient(200deg, #ff0000 5%, hsl(313, 100%, 50%) 100%); }
    16% { background: linear-gradient(200deg, #ff0000 5%, hsl(315, 100%, 50%) 100%); }
    18% { background: linear-gradient(200deg, #ff0000 5%, hsl(318, 100%, 50%) 100%); }
    20% { background: linear-gradient(200deg, #ff0000 5%, hsl(320, 100%, 50%) 100%); }
    22% { background: linear-gradient(200deg, #ff0000 5%, hsl(323, 100%, 50%) 100%); }
    24% { background: linear-gradient(200deg, #ff0000 5%, hsl(325, 100%, 50%) 100%); }
    26% { background: linear-gradient(200deg, #ff0000 5%, hsl(328, 100%, 50%) 100%); }
    28% { background: linear-gradient(200deg, #ff0000 5%, hsl(330, 100%, 50%) 100%); }
    30% { background: linear-gradient(200deg, #ff0000 5%, hsl(332, 100%, 50%) 100%); }
    32% { background: linear-gradient(200deg, #ff0000 5%, hsl(335, 100%, 50%) 100%); }
    34% { background: linear-gradient(200deg, #ff0000 5%, hsl(337, 100%, 50%) 100%); }
    36% { background: linear-gradient(200deg, #ff0000 5%, hsl(340, 100%, 50%) 100%); }
    38% { background: linear-gradient(200deg, #ff0000 5%, hsl(342, 100%, 50%) 100%); }
    40% { background: linear-gradient(200deg, #ff0000 5%, hsl(345, 100%, 50%) 100%); }
    42% { background: linear-gradient(200deg, #ff0000 5%, hsl(347, 100%, 50%) 100%); }
    44% { background: linear-gradient(200deg, #ff0000 5%, hsl(350, 100%, 50%) 100%); }
    46% { background: linear-gradient(200deg, #ff0000 5%, hsl(352, 100%, 50%) 100%); }
    48% { background: linear-gradient(200deg, #ff0000 5%, hsl(354, 100%, 50%) 100%); }
    50% { background: linear-gradient(200deg, #ff0000 5%, hsl(357, 100%, 50%) 100%); }
    52% { background: linear-gradient(200deg, #ff0000 5%, hsl(359, 100%, 50%) 100%); }
    54% { background: linear-gradient(200deg, #ff0000 5%, hsl(2, 100%, 50%) 100%); }
    56% { background: linear-gradient(200deg, #ff0000 5%, hsl(4, 100%, 50%) 100%); }
    58% { background: linear-gradient(200deg, #ff0000 5%, hsl(7, 100%, 50%) 100%); }
    60% { background: linear-gradient(200deg, #ff0000 5%, hsl(9, 100%, 50%) 100%); }
    62% { background: linear-gradient(200deg, #ff0000 5%, hsl(12, 100%, 50%) 100%); }
    64% { background: linear-gradient(200deg, #ff0000 5%, hsl(14, 100%, 50%) 100%); }
    68% { background: linear-gradient(200deg, #ff0000 5%, hsl(16, 100%, 50%) 100%); }
    70% { background: linear-gradient(200deg, #ff0000 5%, hsl(19, 100%, 50%) 100%); }
    72% { background: linear-gradient(200deg, #ff0000 5%, hsl(21, 100%, 50%) 100%); }
    74% { background: linear-gradient(200deg, #ff0000 5%, hsl(24, 100%, 50%) 100%); }
    76% { background: linear-gradient(200deg, #ff0000 5%, hsl(26, 100%, 50%) 100%); }
    78% { background: linear-gradient(200deg, #ff0000 5%, hsl(29, 100%, 50%) 100%); }
    80% { background: linear-gradient(200deg, #ff0000 5%, hsl(31, 100%, 50%) 100%); }
    82% { background: linear-gradient(200deg, #ff0000 5%, hsl(33, 100%, 50%) 100%); }
    84% { background: linear-gradient(200deg, #ff0000 5%, hsl(36, 100%, 50%) 100%); }
    86% { background: linear-gradient(200deg, #ff0000 5%, hsl(38, 100%, 50%) 100%); }
    88% { background: linear-gradient(200deg, #ff0000 5%, hsl(41, 100%, 50%) 100%); }
    90% { background: linear-gradient(200deg, #ff0000 5%, hsl(43, 100%, 50%) 100%); }
    92% { background: linear-gradient(200deg, #ff0000 5%, hsl(46, 100%, 50%) 100%); }
    94% { background: linear-gradient(200deg, #ff0000 5%, hsl(48, 100%, 50%) 100%); }
    96% { background: linear-gradient(200deg, #ff0000 5%, hsl(51, 100%, 50%) 100%); }
    100% { background: linear-gradient(200deg, #ff0000 5%, hsl(53, 100%, 50%) 100%); }
}

