.choosecharacter {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.choosecharacter--modal {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    margin: 16px;
    overflow: hidden;
}

.choosecharacter--modal__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 48px;
    text-align: center;
    margin: 16px 0 0 0;

    color: #F7115E;
    text-shadow: 1px 1px 0 #ffffff,
        -1px 1px 0 #ffffff,
        1px -1px 0 #ffffff,
        -1px -1px 0 #ffffff,
        0px 1px 0 #ffffff,
        0px -1px 0 #ffffff,
        -1px 0px 0 #ffffff,
        1px 0px 0 #ffffff,
        2px 2px 0 #ffffff,
        -2px 2px 0 #ffffff,
        2px -2px 0 #ffffff,
        -2px -2px 0 #ffffff,
        0px 2px 0 #ffffff,
        0px -2px 0 #ffffff,
        -2px 0px 0 #ffffff,
        2px 0px 0 #ffffff,
        1px 2px 0 #ffffff,
        -1px 2px 0 #ffffff,
        1px -2px 0 #ffffff,
        -1px -2px 0 #ffffff,
        2px 1px 0 #ffffff,
        -2px 1px 0 #ffffff,
        2px -1px 0 #ffffff,
        -2px -1px 0 #ffffff;
}

.choosecharacter--modal__title .player .player--name {
    font-size: 48px;
}

.choosecharacter--modal__container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;

    margin: 24px auto;
    border-radius: 16px;
    box-shadow: 0 0 0 16px #F7115E;

    background-image: url(../../../assets/plateau-background.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.choosecharacter--list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 32px 16px;
    margin: 0;
    flex: 1 1 auto;
    position: absolute;
    top: 0;
    left: 32px;
    right: 32px;
    bottom: 32px;
}

.choosecharacter--list__character {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.choosecharacter--modal__container .character--box:hover .character--box__front {
    filter: drop-shadow(0px 0px 10px #E0E300);
}
