.scene {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 52px;

    flex: 1 1 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: url(../../../assets/plateau-background.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.scene--plateau {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    position: relative;
}

.scene--guessing__button {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 96px;
    width: 96px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, .85);
    border-width: 8px;

    font-size: 56px;

    transition: background-color linear 100ms, box-shadow linear 200ms;
}

.scene--guessing__button:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, .25);
}

.scene--characterguessed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9000;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.scene--characterguessed__content {
    background-color: rgba(0, 0, 0, .85);
    border-radius: 0 0 8px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 16px;

    font-family: "Futura PT";
    font-size: 32px;
    font-weight: 600;
}

.scene--characterguessed__name {
    font-family: "Sweaty Belvin";
    font-weight: 500;
    font-size: 38px;
}

.scene--characterguessed__content button {
    margin: 0;
    margin-top: 16px;
}

.scene--guessing .character--box:not(.character--box__hiden):hover {
    box-shadow: 0 0 15px #ffffff;
}

/* To refacto */
.scene--guessing .plateau > div:not(.plateau--opponent) .character--box:not(:hover) {
    filter: brightness(0.6);
}

.scene--guessing .character--box.character--box__hiden {
    filter: brightness(0.6);
}

.scene--guessing .scene--guessing__button {
    background-color: #000000;
}

.scene--guessing .scene--guessing__button svg {
    fill: #E0E300;
}

.scene--quit {
    position: fixed;
    top: 0;
    right: 0;
}

.scene--quit button {
    width: auto;
    color: #1156FC;
    border-color: #1156FC;
    background-color: transparent;
}

.scene--quit button:hover {
    color: #E0E300;
    background-color: #1156FC;
}
