.scene {
    flex: 1 1 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 32px 64px;
    padding: 32px;

    background-image: url(../../../assets/plateau-background.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 6px;
    border: 20px solid #ffffff;
    box-shadow: inset 0 0 10px #000000, 0 0 10px #000000;
}

.scene--bottom {
    display: flex;
}

.scene--opponent {
    margin: 0 32px;
}

.scene--opponent,
.scene--opponent .character {
    width: 157px;
    height: 293px;
}

.scene--guessing .character--box:hover {
    box-shadow: 0 0 15px #ffffff;
}
