.login {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login--container {
    background-color: #000000;
    border-radius: 8px;
    padding: 16px 24px;
}

.login--container__title {
    width: 100%;
    text-align: center;
    position: relative;
    font-size: 32px;
    margin: 16px 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login--container__logo {
    width: 40px;
    margin-right: 16px;
}
