.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.player--inline {
    display: inline-flex;
    flex-direction: row;
}

.player--img {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    border: 4px solid #E0E300;
}

.player--inline .player--img {
    height: 48px;
    width: 48px;
    margin: 0 16px;
}
