
@font-face {
    font-family: "Futura PT";
    src: url(../assets/FuturaPT-Bold.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Futura PT";
    src: url(../assets/FuturaPT-MediumObl.woff2) format("woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Futura PT";
    src: url(../assets/FuturaPT-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Futura PT Book";
    src: url(../assets/FuturaPT-Book.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Futura PT Demi";
    src: url(../assets/FuturaPT-Demi.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Futura PT Demi";
    src: url(../assets/FuturaPT-DemiObl.woff2) format("woff2");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Futura PT";
    src: url(../assets/FuturaPT-BoldObl.woff2) format("woff2");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Permanent Marker";
    src: url(../assets/PermanentMarker-Regular.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

html,
body,
#app {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Permanent Marker";
    color: #ffffff;
    background-color: #1156FC;
    user-select: none;
}

body.modal--open {
    overflow: hidden;
}

#app {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 54px;
}

button {
    padding: 8px;
    width: 300px;
    margin: 16px;

    color: #ffffff;

    border: 2px solid #E0E300;
    background-color: #1156FC;
    border-radius: 4px;

    font-size: 16px;
    font-family: "Futura PT";
    text-transform: uppercase;
    font-weight: 600;

    cursor: pointer;

    transition: all linear 100ms;
}

button:hover {
    box-shadow: 0 0 15px #E0E300;
}

button:disabled {
    background-color: rgba(255, 255, 255, 0.15);
}

a {
    text-decoration: none;
}

.spacer {
    flex: 1 1 auto;
}
